// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  font-size: 24px;
}

.my-container {
  margin: 8px;
  padding: 16px;
}

.bottom-link {
  margin: 32px 0;
  padding: 16px 0;
  border-top: 2px solid rgba(0,0,0,0.3)
}
